.container {
  padding: 20px 84px;
  border: 1px solid mistyrose;
  border-radius: 8px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}
.userPhoto {
  border-radius: 100%;
  width: 250px;
}
.userName {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400px;
  font-size: 28px;
  margin: 10px 0;
}
.userTag {
  color: rgb(189, 187, 187);
  line-height: 1.5;
  margin: 0;
  font-size: 20px;
}
.userLocation {
  color: rgb(189, 187, 187);
  line-height: 1.5;
  margin: 0;
  font-size: 20px;
}
.itemFollowers {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0px 0px;
  padding: 0;
  list-style: none;
}
.itemFollowersNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
}
